
	#wrapper {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'space-between');
		@include vendor('flex-direction', 'column');
		@include vendor('perspective', '1000px');
		position: relative;
		min-height: 100%;
		padding: _size(element-margin);
		z-index: 2;

		> * {
			z-index: 1;
		}

		&:before {
			content: '';
			display: block;
		}

		@include breakpoint('<=xxsmall') {
			padding: (_size(element-margin) * 0.5);
		}

		body.is-ie & {
			height: 100%;
		}
	}
